.App{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
}

.weather-box{
    display: flex;
    gap:10px;
}

.daily-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.today-box{
    background-color: #8a8a8a3f;
    border: 3px solid #6d6d6d3f;
}